<% action_box do -%>
	<% if admin? -%>
		<li><%= link_to t("game.generate"), { :controller => :groups,
   				:action => :generate_games, :id => @group.id}, :class => "admin" %></li>
	<% end -%>
<% end -%>

<%= h2 "#{t("group.group")} #{@group.name}" %>

<%= render :partial => "show", :locals => { :ranking_lines => @group.ranking_lines } %>

<%= h2 t("game.index") %>

<% @group.games.in_groups_of(2, false) do |couple_games| %>
	<%= render "games/game", :game => couple_games[0] %>
	<%= render "games/game", :game => couple_games[1] if couple_games[1] %>
	
	<%= render "games/round_edit", :game => couple_games[0] %>
	<%= render "games/round_edit", :game => couple_games[1] if couple_games[1] %>
<% end %>

<%= javascript_include_tag "games" %>
