<p class="notice"><%= notice %></p>


<p style="float:right">
  <%= image_tag @product.photo.url(:small) %>
</p>
<br style="clear:left" />

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Quantity:</b>
  <%= @product.quantity %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<%= link_to (t 'general.edit'), edit_product_path(@product) %> |
<%= link_to (t 'general.back'), products_path %>
